/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.calva/output-window/output.calva-repl
.clj-kondo/.cache/v1/lock
.clj-kondo/.cache/v1/clj/clojure.core.protocols.transit.json
.clj-kondo/.cache/v1/clj/clojure.core.reducers.transit.json
.clj-kondo/.cache/v1/clj/clojure.core.server.transit.json
.clj-kondo/.cache/v1/clj/clojure.core.specs.alpha.transit.json
.clj-kondo/.cache/v1/clj/clojure.core.transit.json
.clj-kondo/.cache/v1/clj/clojure.data.transit.json
.clj-kondo/.cache/v1/clj/clojure.datafy.transit.json
.clj-kondo/.cache/v1/clj/clojure.edn.transit.json
.clj-kondo/.cache/v1/clj/clojure.inspector.transit.json
.clj-kondo/.cache/v1/clj/clojure.instant.transit.json
.clj-kondo/.cache/v1/clj/clojure.java.browse-ui.transit.json
.clj-kondo/.cache/v1/clj/clojure.java.browse.transit.json
.clj-kondo/.cache/v1/clj/clojure.java.io.transit.json
.clj-kondo/.cache/v1/clj/clojure.java.javadoc.transit.json
.clj-kondo/.cache/v1/clj/clojure.java.shell.transit.json
.clj-kondo/.cache/v1/clj/clojure.main.transit.json
.clj-kondo/.cache/v1/clj/clojure.math.transit.json
.clj-kondo/.cache/v1/clj/clojure.parallel.transit.json
.clj-kondo/.cache/v1/clj/clojure.pprint.transit.json
.clj-kondo/.cache/v1/clj/clojure.reflect.transit.json
.clj-kondo/.cache/v1/clj/clojure.repl.transit.json
.clj-kondo/.cache/v1/clj/clojure.set.transit.json
.clj-kondo/.cache/v1/clj/clojure.spec.alpha.transit.json
.clj-kondo/.cache/v1/clj/clojure.spec.gen.alpha.transit.json
.clj-kondo/.cache/v1/clj/clojure.spec.test.alpha.transit.json
.clj-kondo/.cache/v1/clj/clojure.stacktrace.transit.json
.clj-kondo/.cache/v1/clj/clojure.string.transit.json
.clj-kondo/.cache/v1/clj/clojure.template.transit.json
.clj-kondo/.cache/v1/clj/clojure.test.junit.transit.json
.clj-kondo/.cache/v1/clj/clojure.test.tap.transit.json
.clj-kondo/.cache/v1/clj/clojure.test.transit.json
.clj-kondo/.cache/v1/clj/clojure.tools.cli.transit.json
.clj-kondo/.cache/v1/clj/clojure.uuid.transit.json
.clj-kondo/.cache/v1/clj/clojure.walk.transit.json
.clj-kondo/.cache/v1/clj/clojure.xml.transit.json
.clj-kondo/.cache/v1/clj/clojure.zip.transit.json
.clj-kondo/.cache/v1/clj/expectations.cljs.transit.json
.clj-kondo/.cache/v1/clj/expectations.junit.runner.transit.json
.clj-kondo/.cache/v1/clj/incomplete.core.transit.json
.clj-kondo/.cache/v1/clj/nrepl.ack.transit.json
.clj-kondo/.cache/v1/clj/nrepl.bencode.transit.json
.clj-kondo/.cache/v1/clj/nrepl.cmdline.transit.json
.clj-kondo/.cache/v1/clj/nrepl.config.transit.json
.clj-kondo/.cache/v1/clj/nrepl.core.transit.json
.clj-kondo/.cache/v1/clj/nrepl.helpers.transit.json
.clj-kondo/.cache/v1/clj/nrepl.middleware.caught.transit.json
.clj-kondo/.cache/v1/clj/nrepl.middleware.completion.transit.json
.clj-kondo/.cache/v1/clj/nrepl.middleware.dynamic-loader.transit.json
.clj-kondo/.cache/v1/clj/nrepl.middleware.interruptible-eval.transit.json
.clj-kondo/.cache/v1/clj/nrepl.middleware.load-file.transit.json
.clj-kondo/.cache/v1/clj/nrepl.middleware.lookup.transit.json
.clj-kondo/.cache/v1/clj/nrepl.middleware.print.transit.json
.clj-kondo/.cache/v1/clj/nrepl.middleware.session.transit.json
.clj-kondo/.cache/v1/clj/nrepl.middleware.sideloader.transit.json
.clj-kondo/.cache/v1/clj/nrepl.middleware.transit.json
.clj-kondo/.cache/v1/clj/nrepl.misc.transit.json
.clj-kondo/.cache/v1/clj/nrepl.server.transit.json
.clj-kondo/.cache/v1/clj/nrepl.socket.dynamic.transit.json
.clj-kondo/.cache/v1/clj/nrepl.socket.transit.json
.clj-kondo/.cache/v1/clj/nrepl.transport.transit.json
.clj-kondo/.cache/v1/clj/nrepl.util.completion.transit.json
.clj-kondo/.cache/v1/clj/nrepl.util.lookup.transit.json
.clj-kondo/.cache/v1/clj/nrepl.util.print.transit.json
.clj-kondo/.cache/v1/clj/nrepl.version.transit.json
.clj-kondo/.cache/v1/clj/pet-owners.core-test.transit.json
.clj-kondo/.cache/v1/clj/pet-owners.core.transit.json
.clj-kondo/.cache/v1/cljc/expectations.platform.transit.json
.clj-kondo/.cache/v1/cljc/expectations.transit.json
.clj-kondo/.cache/v1/cljc/user.transit.json
.clj-kondo/.cache/v1/cljs/cljs.tools.cli.transit.json
.lsp/.cache/db.transit.json
